LIQUENT_ENGINE_API_JOINT_SETTINGS_FILE=/srv/liquent/config/engine-api-joint.env
LIQUENT_ENGINE_API_PROXY_SETTINGS_FILE=/srv/liquent/config/engine-api-proxy.env
LIQUENT_ENGINE_API_HEALTH_SETTINGS_FILE=/srv/liquent/config/engine-api-health.env
LIQUENT_ENGINE_API_HEALTH_RUN_SETTINGS_FILE=/srv/liquent/config/engine-api-health-run.env
LIQUENT_ENGINE_API_DOCKER_SOCKET=/var/run/docker.sock
LIQUENT_ENGINE_API_CONTROL_ROOT=/srv/liquent/control
LIQUENT_ENGINE_API_SOURCE_ROOT=/srv/liquent/source
LIQUENT_ENGINE_API_TARGET_ROOT=/srv/liquent/target
